.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .word {
    display: flex;
    color: black;
  }

  span {
    font-size: 12px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
  }
  
  .word {
    display: flex;
    color: white;
    font-size: 20px;
    font-family:   sans-serif;
  }