<div>
<mat-toolbar color="primary">
    Food Supply Management
    <span class="example-spacer"></span>
    login(n/a)
</mat-toolbar>
</div>


<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Product Name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Product Information"></textarea>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Producer Name">
  </mat-form-field>
  
  <mat-form-field>
    <textarea matInput placeholder="Producer Information"></textarea>
  </mat-form-field>
</div>
<router-outlet>
</router-outlet>

<div>
<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span class="word"> &copy; All rights reserved.</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
</div>