<div class="example-header-image">
<div *ngFor="let chip of chain_data" selected="true" style="margin-left:33.3%" >
  

  <mat-card class="example-card">
      <mat-card-header>
        
        <mat-card-title class="container">Index: 
          {{chip.index}}
        </mat-card-title>
        <mat-card-subtitle>  previous hash: 
           {{chip.previous_hash}} 
        </mat-card-subtitle>
        
      </mat-card-header>
      
      <mat-card-content style="margin-left:20%">
          <p>Proof: {{chip.proof}}</p>
          <p>TimeStamp: {{chip.timestamp}}</p>
          
      </mat-card-content>
      <!-- <mat-card-actions>
        <button (click)="post_produce()">Send</button>
        <button mat-button  [routerLink]="['/request-inspection']">Request Inspection</button>
      </mat-card-actions> -->
    </mat-card>

</div>
</div>